.accomodations{
    min-height: 800px;
    background-color: #EFEBE5;
    padding: 5rem 0;
}
.accomodations-cards{
    padding: 0 5vw;
    overflow-x: scroll;
    display: flex;
    gap: 2rem;
}

@media screen and (min-width: 1200px) {
    .accomodations-cards{
        justify-content: center;
        overflow-x: hidden;
    }
}

.accomodations h2{
    color: #623E2A;
    font-size: calc(1.5rem + 3vw);
    font-family: "Libre Franklin";
    font-weight: 400;
}